@{
    Layout = "Layout.cshtml";
}
@section Title{未志}
<div id="main" class="wrapper">
	<div class="container">
		<section class="posts">
			@foreach (var post in @Model.postList)
			{
				<article class="post block">
					<div class="content">
						<h2 class="t"><a href="/post/@post.Slug">@post.Title</a></h2>
						<div class="meta"><time>@(((DateTime)post.Created).ToString("D"))</time></div>
						<div class="entry">
							@Html.Raw(@post.Content)
						</div>
					</div>
				</article>
			}
		</section>
		<div class="navigation block">
			<table width="100%">
				<tbody>
					<tr>
						<td width="120" align="left">
						@if (@Model.hasPrevious)
						{
							<div class="alignleft"><a href="/page/@(((int)Model.currentPage) - 1)">« Previous Entries</a></div>
						}
						</td>
						<td width="auto" align="center"><strong class="fade">@((int)Model.currentPage)/@Model.maxPage</strong></td>
						<td width="120" align="right">
						@if (@Model.hasNext)
						{
							<div class="alignright"><a href="/page/@(((int)Model.currentPage) + 1)">Next Entries »</a></div>
						}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="sidebar">
		<div class="widget block">
			<strong class="wt">About Me</strong>
			<div class="wc">
			    <p>我是 willerce，是一名前端攻城师，目前在厦门。欢迎大家与我交流。</p>
				<div class="sep10"></div>
                <p>
					<span>
						<i class="icon-feed"></i>
						<a target="_blank" href="http://feeds.feedburner.com/willerce">订阅博客</a>
					</span>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<span>
						<i class="icon-weibo"></i>
						<a target="_blank" href="http://weibo.com/willerce">关注我</a>
					</span>
                </p>
			</div>
		</div>
		<div class="widget block">
			<strong class="wt">Featured Articles</strong>
			<div class="wc">
			Wait add record
			</div>
		</div>
	</div>
</div>

